* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  background-color: #212329;
  color: white;
}
body._lock {
  overflow: hidden;
}

.App {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.page {
  flex: 1 0 auto;
  flex-grow: 1;
  padding: 10px 0 10px 0;
}

.separator {
  height: 2px;
  border-radius: 1px;
  background-color: #c2c9d5;
  border: none;
  margin: 0 1rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #E7F1F8;
  border-bottom: #262059 solid 1px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1400px;
}

.footer {
  width: 100%;
  flex: 0 0 auto;
  padding: 0.5rem;
}

.footer-text {
  text-align: center;
  margin: 0.4rem 1rem 0.3rem 1rem;
  color: #898989;
}

.footer-text img {
  height: 44px;
}

.footer-text-foolish {
  text-align: center;
  font-size: 12px;
  color: #898989;
}

.home-button {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 50px;
  cursor: pointer;
}

.home-button-link {
  text-decoration: none;
  color: white;
}

/* ---- Main Page ---- */

.page-title {
  font-size: 36px;
  font-weight: 600px;
  text-align: center;
  margin-bottom: 1rem;
}

.main-page-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-page-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  padding: 2rem;
  border: white solid 2px;
  border-radius: 16px;
  text-align: justify;
  font-size: 18px;
}

.three-blocks-title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.three-blocks {
  display: flex;
  flex-direction: row;
}

.link-block {
  text-decoration: none;
  color: white;
  flex: 0 1 33%;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
}

.button-block {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding: 0 1rem;
  line-height: 200px;
  border: transparent solid 2px;
  border-radius: 16px;
  height: 200px;
  text-decoration: none;
  vertical-align: middle;
}

.studying-block {
  background-color: #318ce7;
}

.training-block {
  background-color: #09bd09;
}

.playing-block {
  background-color: #f0782d;
}

/* ----- Training ----- */

.training-page-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.training-settings-block {
  flex: 0 1 50%;
}

.training-solve-block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.item-body {
  width: 440px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: transparent solid 1px;
  border-radius: 10px;
  background-color: #464a55;
}

.item-left-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 220px;
}

.item-right-block {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-expression {
  font-size: 24px;
  text-align: center;
}

.text-good {
  color: #09bd09
}

.text-bad {
  color: #f0782d;
}

.solution-block {
  font-size: 20px;
}

/* ----- Playing ------- */

.playing-rigth-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-points-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 1rem 0.5rem 1rem;
  font-size: 22px;
  font-weight: 600;
}

/* ---- Stats ----- */

.names-block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}

.values-block {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  font-size: 18px;
}